<ion-content>
  <div class="hc_video_call_wrapper">
    <div class="hc_video_top_bar">
      <div class="hc_recam floatLeft">
      </div>
      <div class="hc_video_time">
        00:02:22
      </div>
      <div class="hc_msg floatRight">
      </div>
      <div class="clear"></div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-footer>
      <ion-grid>
        <ion-row>
          <ion-col col-3>
            <div class="hc_mute floatLeft">
            </div>
            <div class="clear"></div>
          </ion-col>
          <ion-col col-6>
            <button class="hc_v_call_end" (click)="dismiss()"></button>
          </ion-col>
          <ion-col col-3>
            <div class="hc_video floatRight">
            </div>
            <div class="clear"></div>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-footer>
</ion-footer>
