
   <!-- HEADER-STARTS -->

<ion-header class="theme_primary nav_header">
  <button ion-button class="nav_btn floatLeft"></button>
  <div class="nav_header_title floatLeft textCenter">Login</div>
  <button ion-button class="nav_btn floatRight"></button>
  <div class="clear"></div>
</ion-header>

  <!-- HEADER-ENDS -->

<ion-content padding class="theme_secondary">

  <!-- LOGIN-WRAPPER-STARTS -->

  <div class="hc_login_wrapper">

  <!-- LOGO-DIV-STARTS -->

    <div class="hc_logo">
      <img src="assets/imgs/hc_logo.png">
    </div>

  <!-- LOGO-DIV-ENDS -->

  <!-- LOGIN-FORM-DIV-STARTS -->

    <div class="hc_login_form">
      <div class="hc_login_form_row">
        <input class="hc_login_input hc_user" placeholder="User Name">
      </div>
      <div class="hc_login_form_row">
        <input class="hc_login_input hc_pass" placeholder="Password">
      </div>
      <div class="hc_login_form_row">
        <button ion-button class="hc_login_btn" (click)="open_page('WelcomePage')">Login</button>
      </div>
    </div>

    <!-- LOGIN-FORM-DIV-ENDS -->

  </div>

  <!-- LOGIN-WRAPPER-ENDS -->

</ion-content>
