<!-- HEADER-STARTS -->

<ion-header class="theme_primary nav_header">
<button ion-button class="nav_btn floatLeft" (click)="goBack()"><ion-icon name="ios-arrow-round-back"></ion-icon></button>
<div class="nav_header_title floatLeft textCenter">CONSULTATION HISTORY</div>
<button ion-button class="nav_btn floatRight"></button>
<div class="clear"></div>
</ion-header>

<!-- HEADER-ENDS -->

<ion-content padding class="theme_secondary">
  <div class="hc_consltation_history_div">
    <div class="hc_login_form_row">
        <ion-item class="hc_login_calender">
              <ion-datetime   placeholder="Select Date"  min="2017-11-01" max="2030-10-31" displayFormat="MMM DD YYYY"></ion-datetime>
        </ion-item>
    </div>
    <div class="hc_login_form_row">
        <input class="hc_search" placeholder="Search">
    </div>
    <div class="hc_list_wrapper">
      <h3>Consultation History</h3>
      <ul>
        <li class="m0" (click)="open_page('ConsultationdetailsPage')">
          <div class="hc_list_pic">
            <img src="assets/imgs/e_pic3.jpg">
          </div>
          <div class="hc_list_detail">
            <h4>Lean Macgray</h4>
            <h6>11:00 PM</h6>
            <h6>Video</h6>
            <h6>Status</h6>
          </div>
          <div class="clear"></div>
        </li>
        <li class="m0">
          <div class="hc_list_pic">
            <img src="assets/imgs/e_pic4.jpg">
          </div>
          <div class="hc_list_detail">
            <h4>Sophiea Loranze</h4>
            <h6>09:00 PM</h6>
            <h6>Text</h6>
            <h6>Status</h6>
          </div>
          <div class="clear"></div>
        </li>
        <li class="m0">
          <div class="hc_list_pic">
            <img src="assets/imgs/e_pic2.jpg">
          </div>
          <div class="hc_list_detail">
            <h4>Cobler Lewis</h4>
            <h6>01:00 AM</h6>
            <h6>Audio</h6>
            <h6>Status</h6>
          </div>
          <div class="clear"></div>
        </li>
      </ul>
    </div>
  </div>


</ion-content>
