<!-- HEADER-STARTS -->

<ion-header class="theme_primary nav_header">
<button ion-button class="nav_btn floatLeft" (click)="goBack()"><ion-icon name="ios-arrow-round-back"></ion-icon></button>
<div class="nav_header_title floatLeft textCenter">DOCTOR PROFILE</div>
<button ion-button class="nav_btn floatRight"></button>
<div class="clear"></div>
</ion-header>

<!-- HEADER-ENDS -->

<ion-content padding class="theme_secondary">
  <div class="hc_doc_profile_wrapper">
    <div class="hc_doc_profile_pic">
      <img src="assets/imgs/e_pic3.jpg">
    </div>
    <div class="hc_bookdetails">
      <ul>
        <li>
          <p>Name</p>
          <h5>Dr. Mathew Morgan</h5>
        </li>
        <li>
          <p>Age</p>
          <h5>35</h5>
        </li>
        <li>
          <p>Gender</p>
          <h5>Male</h5>
        </li>
        <li class="borderNone">
          <p>Specialization</p>
          <h5>Cardio Specialist</h5>
        </li>
      </ul>
    </div>
  </div>
</ion-content>
