<!-- HEADER-STARTS -->

<ion-header class="theme_primary nav_header">
<button ion-button class="nav_btn floatLeft" (click)="goBack()"><ion-icon name="ios-arrow-round-back"></ion-icon></button>
<div class="nav_header_title floatLeft textCenter">APPOINTMENTS</div>
<button ion-button class="nav_btn floatRight"></button>
<div class="clear"></div>
</ion-header>

<!-- HEADER-ENDS -->

<ion-content padding class="theme_secondary">
<div class="hc_list_wrapper">

<!-- LISTING-WRAPPER -->

  <div class="hc_login_form_row">
      <ion-item class="hc_login_calender">
            <ion-datetime   placeholder="Select Date"  min="2017-11-01" max="2030-10-31" displayFormat="MMM DD YYYY"></ion-datetime>
      </ion-item>
  </div>

  <ul>
    <li (click)="open_page('PaitentdetailPage')">
      <div class="hc_list_pic">
        <img src="assets/imgs/e_pic3.jpg">
      </div>
      <div class="hc_list_detail">
        <h4>Lean Macgray</h4>
        <h6>11:00 PM</h6>
        <h6>Video</h6>
        <h6>Status</h6>
      </div>
      <div class="clear"></div>
    </li>
    <li (click)="open_page('PaitentdetailPage')">
      <div class="hc_list_pic">
        <img src="assets/imgs/e_pic4.jpg">
      </div>
      <div class="hc_list_detail">
        <h4>Sophiea Loranze</h4>
        <h6>09:00 PM</h6>
        <h6>Text</h6>
        <h6>Status</h6>
      </div>
      <div class="clear"></div>
    </li>
    <li (click)="open_page('PaitentdetailPage')">
      <div class="hc_list_pic">
        <img src="assets/imgs/e_pic2.jpg">
      </div>
      <div class="hc_list_detail">
        <h4>Cobler Lewis</h4>
        <h6>01:00 AM</h6>
        <h6>Audio</h6>
        <h6>Status</h6>
      </div>
      <div class="clear"></div>
    </li>
  </ul>

<!-- LISTING-WRAPPER-ENDS -->

</div>
</ion-content>
<ion-footer>
  <div class="hc_footer_btn_bay">
    <div class="hc_login_form_row">
        <ion-grid>
            <ion-row>
              <ion-col col-3>
                <button ion-button class="hc_social_btn textLeft"><ion-icon name="ios-arrow-back"></ion-icon>&nbsp;&nbsp;Prev</button>
              </ion-col>
              <ion-col col-6>
              </ion-col>
              <ion-col col-3>
                <button ion-button class="hc_social_btn textRight">Next&nbsp;&nbsp;<ion-icon name="ios-arrow-forward"></ion-icon></button>
              </ion-col>
            </ion-row>
        </ion-grid>
    </div>
  </div>
</ion-footer>
