<!-- HEADER-STARTS -->

<ion-header class="theme_primary nav_header">
  <button ion-button class="nav_btn floatLeft" (click)="dismiss()"><ion-icon name="ios-arrow-round-back"></ion-icon></button>
  <div class="nav_header_title floatLeft textCenter">CALL</div>
  <button ion-button class="nav_btn floatRight"></button>
  <div class="clear"></div>
</ion-header>

<!-- HEADER-ENDS -->

<ion-content padding class="theme_secondary">
  <div class="hc_call_wrapper">
    <div class="hc_caller">
      <img src="assets/imgs/e_pic4.jpg">
    </div>
    <div class="hc_connect">

    </div>
    <div class="hc_caller">
      <img src="assets/imgs/e_pic3.jpg">
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="hc_footer_end">
    <button class="hc_call_end">
    </button>
  </div>
</ion-footer>
