<!-- HEADER-STARTS -->

<ion-header class="theme_primary nav_header">
<button ion-button class="nav_btn floatLeft" (click)="goBack()"><ion-icon name="ios-arrow-round-back"></ion-icon></button>
<div class="nav_header_title floatLeft textCenter">RESCHEDULE</div>
<button ion-button class="nav_btn floatRight"></button>
<div class="clear"></div>
</ion-header>

<!-- HEADER-ENDS -->

<ion-content padding class="theme_secondary">
  <div class="hc_list_wrapper">
    <ul>
      <li>
        <div class="hc_list_pic">
          <img src="assets/imgs/e_pic3.jpg">
        </div>
        <div class="hc_list_detail">
          <h4>Dr. Colin Macgray</h4>
          <h6>21-Nov-2017</h6>
          <h6>11:00 AM</h6>
        </div>
        <div class="clear"></div>
        <br>
        <hr>
        <div class="hc_consult_history_wrapper">
          <h6 class="textCenter">Medical Details</h6>
        </div>
        <div class="hc_description">
          <h5 class="textLeft">Short Description</h5>
          <p>Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, t. Ut enim ad minim venia
            m, quis nostrud exercitation ullamco
          </p>
        </div>
      </li>
    </ul>
  </div>
  <div class="hc_login_form_row">
      <ion-item class="hc_login_calender">
            <ion-datetime   placeholder="Select Date"  min="2017-11-01" max="2030-10-31" displayFormat="MMM DD YYYY"></ion-datetime>
      </ion-item>
  </div>
  <div class="hc_login_form_row">
      <ion-item class="hc_time">
            <ion-datetime placeholder="Select Time"  displayFormat="h:mm:ss a" ></ion-datetime>
      </ion-item>
  </div>
  <div class="hc_login_form_row">
    <button ion-button class="hc_login_btn">Update</button>
  </div>
</ion-content>
